@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>   

    <h1 class="display-4">This is an update from a github push</h1>

    <h1 class="display-4">This is an update from a github push try 2</h1>
    <h1 class="display-4">This is an update from a github push try 3</h1>
</div>